<h2>Записаться</h2>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Ваше имя</label>
    <input id="bbb" name="user_name" type="text" class="form-control" placeholder="Введите Ваше имя">
  </div>

   <div class="form-group">
    <label>Номер Вашего телефона</label>
    <input name="phone" type="text" class="form-control ccc" placeholder="Введите номер Вашего телефона">
  </div>

   <div class="form-group">
    <label>Желаемые дата и время записи</label>
    <input id="aaa" name="date_time" type="text" class="form-control" placeholder="Введите желаемые дату и время записи">
  </div>

  <div class="form-group">
    <label for="barber">Выбор парикмахера</label>
    <select name="specialist" class="form-control ccc" >
      <option value="none" selected>Выберите Вашего парикмахера</option>
      <option value="Walter White">Walter White</option>
      <option value="Jessie Pinkman">Jessie Pinkman</option>
      <option value="Gus Fring">Gus Fring</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>

<script type="text/javascript">
  $('#aaa').css('background-color','yellow');
  $('#bbb').css('background-color', 'red');
  $('.ccc').css('background-color', 'blue');
</script>
